.resultsCount {
    line-height: 1.71;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .875rem;
    text-transform: uppercase
}

.bucketDropdown--open .resultsCount {
    opacity: .2
}

.searchInput::-webkit-input-placeholder {
    color: #b8b8b8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 3.125rem
}

.searchInput:-ms-input-placeholder {
    color: #b8b8b8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 3.125rem
}

.searchInput::-ms-input-placeholder {
    color: #b8b8b8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 3.125rem
}

.searchInput::placeholder {
    color: #b8b8b8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 3.125rem
}

.search {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.searchInput {
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 3.125rem;
    padding-left: 1.25rem;
    caret-color: #02aaf3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.search:hover .searchInput {
    border: 1px solid #02aaf3
}

.search:hover .searchButton {
    border-radius: 4px
}

.searchInput:focus,.searchInput:hover,.searchInput:active {
    border: 1px solid #02aaf3;
    border-radius: 4px
}

.search-buttonContainer {
    position: absolute;
    right: 1px;
    top: 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 3rem;
    border-radius: 4px
}

.clearButton {
    margin: 0 1px 1px 0;
    width: 2.6875rem;
    background-color: #fff
}

.searchButton-icon,.clearButton-icon {
    color: #02aaf3
}

.searchButton {
    border-left: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 2.9375rem;
    background-color: #fff
}

.searchButton:hover,.searchButton:active,.searchButton:focus {
    background-color: #f4f4f4
}

.searchButton:hover .searchButton-icon {
    color: #0288c2
}

.searchButton:active .searchButton-icon,.searchButton:focus .searchButton-icon {
    color: #0177aa
}

.clearButton:hover .clearButton-icon {
    color: #0288c2
}

.clearButton:active .clearButton-icon,.clearButton:focus .clearButton-icon {
    color: #0177aa
}

.clearButton-icon,.searchButton-icon {
    margin-top: .3125rem
}

.pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-height: 42px;
    min-height: 42px
}

.pagination-box {
    border: 1px solid #ddd;
    border-right: none;
    background-color: #fff;
    color: #02aaf3;
    font-size: .875rem;
    font-weight: 700;
    min-width: 2.125rem;
    min-height: 2.625rem
}

.pagination-box:not(.pagination-ellipsis):not([disabled]):hover,.pagination-box:not(.pagination-ellipsis):not([disabled]):focus,.pagination-box:not(.pagination-ellipsis):not([disabled]):active {
    background-color: #ddd
}

.pagination-box[disabled] {
    background-color: #fff
}

.pagination-box:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.pagination-box:last-child {
    border-right: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.pagination-box-text {
    padding: 0 5px;
    position: relative
}

.pagination-ellipsis {
    color: #b8b8b8
}

.pagination-box.pagination-box--active {
    background-color: #ddd;
    color: #262626
}

.pagination-box--active:hover {
    color: #262626
}

.pagination-arrowIcon {
    padding-top: 2px;
    position: relative
}

.pagination-prevArrow--disabled,.pagination-nextArrow--disabled {
    color: #b8b8b8
}

.alertsFilter-container {
    height: 3.75rem;
    width: 3.75rem
}

.alertsFilter {
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
    color: #262626;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    cursor: pointer;
    z-index: 10;
    background-color: #f4f4f4
}

.alertsFilter:hover .icon {
    fill: #02aaf3
}

.alertsFilter.isActive:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 4px solid #02aaf3;
    z-index: 10
}

.alertsFilter-dot {
    position: absolute;
    top: 16px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid #f4f4f4;
    background: #f65f5f;
    height: 10px;
    width: 10px
}

@media only screen and (min-width: 1025px) {
    .alertsFilter {
        border-bottom:0;
        border-left: 0;
        position: relative;
        background-color: transparent
    }
}

.bucket,.bucket-inner {
    width: 100%;
    text-transform: uppercase
}

.bucket>div,.bucket-inner {
    height: 3.75rem
}

.bucket-inner:active {
    outline: none !important
}

.bucket {
    position: relative;
    color: #02aaf3
}

.bucket.isActive {
    color: #262626
}

.bucket:first-child,.bucket:first-child .bucket-inner {
    width: calc(100% - 3.75rem)
}

.bucket-inner {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px .9375rem;
    z-index: 10;
    background-color: #f4f4f4;
    font-weight: bold;
    line-height: 3.75rem;
    cursor: pointer
}

.bucket:first-child .bucket-inner {
    border-bottom: 1px solid #ddd
}

.bucket:not(.isActive) .bucket-inner {
    background-color: #fff
}

.bucket-dropdown-icon {
    color: #02aaf3
}

@media only screen and (min-width: 768px)and (max-width: 1024px) {
    .bucket,.bucket-inner {
        height:3.75rem
    }
}

@media only screen and (min-width: 1025px) {
    .bucket,.bucket:first-child,.bucket-inner,.bucket:first-child .bucket-inner {
        width:auto;
        min-width: 3.75rem
    }

    .bucket-inner {
        position: relative;
        padding: 0px .9375rem;
        background-color: transparent;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .bucket-inner:hover {
        color: #02aaf3
    }

    .bucket {
        color: #262626
    }

    .bucket:first-child .bucket-inner {
        border-bottom: 0
    }

    .bucket:not(.isActive) .bucket-inner {
        background-color: transparent
    }

    .bucket.isActive:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        border-bottom: 4px solid #02aaf3;
        z-index: 10
    }
}

@media only screen and (min-width: 1025px) {
    .filterBuckets-container {
        border-bottom:1px solid #ddd;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
}

.etaUpdate-icon {
    fill: #02aaf3
}

.etaUpdate-icon:hover {
    fill: #0177aa
}

@media only screen and (max-width: 767px) {
    .etaUpdate-labelContainer {
        margin-bottom:30px
    }
}

@media only screen and (min-width: 768px) {
    .popover-container {
        display:-webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .popover-button {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.popover-button {
    margin-top: 2px;
    margin-right: .625rem
}

.etaUpdate-popover {
    padding-top: 15px;
    text-align: center
}

.etaUpdate-popover-text {
    margin: 15px;
    font-size: .875rem;
    color: #b8b8b8
}

.status-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: .625rem;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-weight: bold
}

.status-topHalf {
    margin-bottom: .875rem;
    width: 100%
}

.statusPopover {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.progressBar {
    width: 100%
}

.progressBar-section {
    background-color: #ddd;
    height: .625rem;
    width: calc(33.3333333333% - 2px)
}

.progressBar-section.late {
    background-color: #f65f5f
}

.dateDelivered-popover {
    background-color: #02aaf3;
    height: .625rem;
    width: calc(33.3333333333% - 2px)
}

.progressBar-section.popover-target {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: .625rem;
    background-color: #02aaf3
}

.progressBar-section.late.popover-target {
    background-color: #f65f5f
}

.progressBar-section:first-child {
    margin-right: 1px
}

.progressBar-section:nth-child(2) {
    margin-right: 1px
}

.booked .progressBar-section:first-child:not(.popover-target),.readyfordispatch .progressBar-section:first-child:not(.popover-target),.dispatched .progressBar-section:first-child:not(.popover-target),.pickedup .progressBar-section:first-child:not(.popover-target),.delivered .progressBar-section:first-child:not(.popover-target) {
    background-color: #1186b9
}

.pickedup .progressBar-section:nth-child(2),.delivered .progressBar-section:nth-child(2) {
    background-color: #0296d6
}

.delivered.late.progressBar-section:last-child {
    background-color: #f65f5f
}

.delivered .progressBar-section:last-child:not(.popover-target) {
    background-color: #02aaf3
}

.popover {
    min-width: 6.25rem;
    padding: 15px 15px 15px 15px
}

.popoverContent-header.late {
    color: #f65f5f
}

.dateDelivered-popoverIcon {
    fill: #02aaf3;
    height: .9375rem
}

.dateDelivered-popoverIcon.late {
    fill: #f65f5f
}

.dateDelivered-popoverContent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .875rem;
    line-height: 1.125rem
}

.warning-popoverContent {
    text-align: center;
    vertical-align: middle;
    font-size: .875rem;
    line-height: 1.125rem
}

.warning-popoverIcon {
    fill: #f65f5f;
    width: .875rem;
    height: .75rem
}

.popoverContent-header {
    max-width: 8.125rem;
    min-width: 4.375rem;
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center
}

@media only screen and (min-width: 768px) {
    .progressBar {
        width:9.375rem
    }

    .status-label {
        width: 9.375rem
    }
}

@media only screen and (min-width: 1025px) {
    .status {
        padding-right:.9375rem
    }
}

.groupLoad-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin-right: .625rem;
    color: #b8b8b8
}

.listingsOwned .more-ref-numbers {
    color: #0083bb;
    text-decoration: none
}

.refNumbers-item {
    white-space: normal !important
}

.listing-referenceNumbers {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem
}

.bucketDropdown--open .listings-list {
    opacity: .2
}

.listing {
    padding: 0px 1.875rem;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    font-size: .875rem;
    line-height: 1.125rem;
    max-width: 100%;
    -webkit-transition: background-color 150ms ease-out;
    transition: background-color 150ms ease-out;
    cursor: pointer
}

.listing:hover {
    background-color: #f8f8f8
}

.listing-summaryCard,.listing-summaryCard:hover,.listing-summaryCard:focus,.listing-summaryCard:active {
    color: #262626
}

.groupLoad-icon {
    margin-top: -0.125rem;
    width: 1.5rem
}

.listing.isGroupedLoad .goods-bottomHalf {
    padding-left: 2.125rem
}

.panel.listing:not(:last-of-type) {
    border-bottom: none
}

span.contact-name,span.contact-company {
    white-space: nowrap
}

.total-cost {
    display: inline-block;
    margin-right: .3125rem;
    padding-left: .3125rem;
    padding-right: .3125rem;
    height: 100%;
    background-color: #f4f4f4;
    border-radius: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #999;
    font-weight: bold;
    font-size: .625rem;
    word-break: normal
}

.isFleet .listing {
    margin-bottom: 0px
}

.listing:last-child,.isFleet .listing:last-child {
    margin-bottom: 1rem
}

.listing.inactiveAfterDecline,.listing.inactiveAfterExpire,.listing.pendingCancellation {
    border-left: .1875rem solid #f65f5f
}

.listing.feedbackIsNeeded,.listing.assignedPendingAcceptance,.listing.pendingEditAcceptance {
    border-left: .1875rem solid #02aaf3
}

.labelValue {
    margin-top: 0px
}

.labelValue-value {
    font-weight: normal
}

.bolNumber {
    margin-top: .625rem
}

.assignmentDeclinedAlert,.assignmentExpiredAlert,.cancellationAlert {
    color: #f65f5f
}

.feedbackAlert .icon,.assignedPendingAcceptanceAlert .icon,.bookingAmendmentsAlert .icon {
    color: #02aaf3
}

.listingAlert {
    font-size: .875rem;
    line-height: 1.125rem;
    letter-spacing: .025rem;
    min-height: 2.5rem;
    border-top: 1px solid #ddd;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: bold;
    padding: 10px 0
}

.listingAlert .flex-item:first-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.listingAlert .icon {
    margin-right: .625rem
}

.listing .moreButton-wrapper {
    position: absolute;
    top: .9375rem;
    right: 1.25rem
}

.listing-summaryCard {
    word-break: break-word
}

.listing-summaryCard,.status {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem
}

.route-location {
    font-weight: bold
}

.contact-name,.contact-driverName,.contact-company {
    word-break: break-all;
    padding-right: .9375rem
}

.contact-bottomHalf {
    padding-left: 1.375rem
}

.route-item:first-child,.route-location,.contact-topHalf,.bidInfo-topHalf,.goods-topHalf,.refNumbers-item {
    padding-right: .9375rem;
    margin-bottom: .625rem
}

.goods,.goods-bottomHalf,.contact,.status {
    padding-right: .9375rem;
    margin-bottom: 1.125rem
}

.route-icon {
    margin-right: .625rem;
    color: #b8b8b8;
    margin-top: -0.0625rem;
    min-width: .75rem
}

.contact-icon {
    margin-top: .125rem;
    margin-right: .625rem;
    color: #b8b8b8;
    min-width: .75rem
}

.route-timeframe {
    padding-left: 1.375rem;
    padding-bottom: 1.125rem
}

.route-timeframe--withIcon {
    padding-left: 0
}

.route-timeframe-text--withItalics {
    padding-left: 0;
    font-style: italic
}

.route-icon {
    margin-top: 2px;
    min-width: .75rem
}

.contact-name,.bidInfo-link {
    font-weight: bold
}

.contact-company-placeholder {
    height: 1.0625rem
}

.contact-name,.contact-company {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%
}

.goods-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #262626;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.hazardousIconContainer {
    margin-top: 1px
}

.hazardousIconForCarrierMyShipments {
    margin-right: .3125rem;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: .1875rem;
    margin-top: .1875rem;
    color: #0083bb;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 12px
}

.hazardousIcon {
    margin-right: .5rem;
    color: #0083bb
}

.exclusiveIcon {
    margin-right: .3125rem;
    margin-top: .1875rem;
    color: #6d4092;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 12px
}

button.contact-assignDriver {
    color: #02aaf3;
    font-weight: bold
}

button.contact-assignDriver:hover {
    color: #0288c2
}

@media only screen and (max-width: 767px) {
    .cancellationAlert .flex-item:first-child {
        -webkit-align-self:flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start
    }

    .cancellationAlert .flex-item:nth-child(2) {
        max-width: calc(100% - 1.875rem)
    }

    .goods-bottomHalf,.contact-company {
        margin-bottom: 0px
    }

    .bidInfo {
        margin-bottom: .9375rem
    }

    .status {
        padding-top: 0px
    }

    .status {
        padding-top: 0px
    }

    .route {
        padding-bottom: 1.125rem
    }

    .status,.listing-summaryCard,.listing-referenceNumbers,.route-timeframe {
        padding-bottom: 0px
    }
}

@media only screen and (min-width: 768px)and (max-width: 1024px) {
    .route-timeframe {
        padding-top:0px;
        padding-bottom: 0px
    }
}

@media only screen and (min-width: 768px) {
    .listing {
        padding:0px 1.875rem
    }

    .listingInfo {
        padding: 1.25rem 0px 0px 0px;
        cursor: pointer
    }

    .listingInfo {
        padding-left: .9375rem
    }

    .route {
        margin-left: 0px
    }

    .route,.route-item:first-child {
        margin-bottom: 0px
    }

    .listing-summaryCard,.listing-referenceNumbers,.status {
        padding-top: 0px;
        padding-bottom: 0px
    }

    .route-location,.goods-topHalf,.refNumbers-topHalf,.contact-topHalf,.bidInfo-topHalf,.status-topHalf {
        padding-top: 1.125rem
    }
}

@media only screen and (min-width: 1025px) {
    .route,.status,.contact,.bidInfo {
        padding-right:.9375rem
    }

    .goods .route-location,.contact-topHalf,.bidInfo-topHalf,.goods-topHalf,.refNumbers-item,.status {
        margin-bottom: .625rem
    }

    .supportsGroupedLoads .goods-topHalf,.supportsGroupedLoads .goods-bottomHalf {
        padding-left: 2.125rem
    }

    .listing.isGroupedLoad .goods-topHalf {
        padding-left: 0
    }
}

.listingsHeader {
    width: 100%;
    height: 18px;
    margin-bottom: .375rem;
    padding: 0px 1.875rem;
    font-size: .6875rem;
    text-transform: uppercase;
    color: #999;
    font-weight: bold
}

.hideForMobile {
    display: none
}

.header-pickup :not(.icon),.header-delivery :not(.icon) {
    font-size: .6875rem;
    text-transform: uppercase;
    color: #999;
    font-weight: bold;
    letter-spacing: .03125rem
}

.unselectedPickUpSort:hover :not(.icon),.unselectedDeliverySort:hover :not(.icon) {
    color: #262626
}

.unselectedPickUpSort:hover .icon,.unselectedDeliverySort:hover .icon {
    fill: #0288c2
}

.selectedPickUpSort :not(.icon),.selectedDeliverySort :not(.icon) {
    color: #262626
}

.selectedPickUpSort :hover .icon,.selectedDeliverySort :hover .icon {
    fill: #0288c2
}

.selectedPickUpSort .icon,.selectedDeliverySort .icon {
    fill: #02aaf3
}

@media only screen and (min-width: 1025px) {
    .hideForMobile {
        display:-webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .supportsGroupedLoads .header-goods {
        padding-left: 2.125rem
    }
}

.emptyResults,.noFilterResults,.noSearchResults {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.emptyResults-iconContainer,.noSearchResults-iconContainer,.noFilterResults-iconContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1.5rem
}

.emptyResults-icon,.noFilterResults-icon,.noSearchResults-icon {
    color: #b8b8b8
}

.headingContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

.emptyResults-primaryMessage,.noFilterResults-primaryMessage,.noSearchResults-primaryMessage,.emptyResults-secondaryMessage,.noFilterResults-secondaryMessage,.noSearchResults-secondaryMessage {
    max-width: 29.375rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #999
}

.emptyResults-primaryMessage,.noFilterResults-primaryMessage,.noSearchResults-primaryMessage {
    height: 1.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: .5rem
}

.secondaryMessage-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.emptyResults-secondaryMessage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.noFilterResults-secondaryMessage {
    min-height: 3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.4375rem
}

.noSearchResults-secondaryMessage {
    min-height: 1.5rem
}

.secondaryMessage-text {
    text-align: center
}

.ctaContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.emptyResults-action {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.toastNotification {
    background: #262626;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    position: fixed;
    font-size: .875rem;
    padding: .9375rem;
    z-index: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: -100%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-transition: bottom .5s ease-in-out;
    transition: bottom .5s ease-in-out;
    width: 100%
}

.toastNotification--active {
    bottom: 0
}

.toastNotification-content {
    margin-right: 1.875rem;
    padding-top: .0625rem;
    font-weight: 700
}

.toastNotification-actionButton {
    color: #02aaf3;
    -webkit-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out
}

.toastNotification-actionButton:hover,.toastNotification-actionButton:focus {
    color: #0083bb
}

.toastNotification-dismissButton {
    line-height: 0;
    -webkit-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out
}

.toastNotification-dismissButton:focus,.toastNotification-dismissButton:hover {
    color: #b8b8b8
}

@media only screen and (min-width: 768px) {
    .toastNotification {
        border-radius:4px;
        width: auto;
        left: 1.25rem;
        max-width: calc(100% - 2.5rem)
    }

    .toastNotification--active {
        bottom: 1.25rem
    }
}

.filters {
    width: 100%;
    max-width: 75rem;
    background-color: #f4f4f4;
    z-index: 10
}

@media only screen and (min-width: 1025px) {
    .filters-wrapper {
        position:relative;
        height: 3.75rem;
        width: 100%
    }

    .filters {
        position: fixed;
        padding: 0px .9375rem;
        width: 100%
    }
}

.filters-wrapper {
    position: relative;
    height: 4.375rem
}

.filterBuckets-container {
    width: 100%
}

.filters {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1170px;
    padding: 0
}

@media only screen and (min-width: 1025px)and (max-width: 1215px) {
    .filters {
        padding-right:1.875rem
    }
}

.search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 315px
}

@media only screen and (min-width: 1025px) {
    .searchContainer {
        width:24.5625rem
    }

    .filters {
        height: 4.375rem;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        outline: 1px solid #f4f4f4
    }

    .filterBuckets-container {
        width: auto;
        border-bottom: none
    }

    .bucket>div,.bucket-inner {
        height: 4.375rem
    }

    .bucket-inner-text {
        font-weight: 700
    }

    .bucket-inner:hover .bucket-inner-text {
        color: #02aaf3
    }

    .alertsFilter-container,.alertsFilter {
        height: 4.375rem
    }

    .alertsFilter-dot {
        top: 22px
    }
}

@media only screen and (max-width: 767px),only screen and (min-width: 768px)and (max-width: 1024px) {
    .filters-wrapper {
        height:85px
    }

    .mobileFilterBucket {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }

    .searchContainer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 4.375rem;
        width: 100%;
        padding: .4375rem .9375rem;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd
    }

    .alertsFilter {
        position: initial;
        border-bottom: none
    }

    .bucket:first-child .bucket-inner {
        border-bottom: none
    }

    .bucket:nth-child(2) {
        border-top: 1px solid #ddd
    }
}

.resultsCount {
    height: 2.625rem
}

.resultsAndPagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: .9375rem;
    padding-bottom: .9375rem
}

@media only screen and (max-width: 767px),only screen and (min-width: 768px)and (max-width: 1024px) {
    .resultsAndPagination {
        margin-top:3.75rem
    }
}

.listingsOwned {
    background-color: #f4f4f4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.listingsOwned .row {
    max-width: 120rem
}

.listingsOwned .filters {
    max-width: 98%
}

/*# sourceMappingURL=listingsOwnedApp.3NA397g0JW.css.map*/
