{% extends "carrier/carrier_view.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TruckPool</title>
</head>
<body>
{% block content %}


<div class="container">
                           <h1 class="h4 text-gray-900 mb-4" align="center">Shipment Details</h1>

    <div class="row">
        <div class="col-3">

            <div class="row">
                <div class="col">
                        <table style="font: small-caption" class ="table table-sm" border="1" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr style=" background-color: #003993;
  color: #fff;">
                                    <td colspan="2">  Shipment Listing Information </td>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Shipment Title:</th>
                                <td id="title2">{{shipment.quantity}} Box</td>
                            </tr>
                            <tr>
                                <th>Shipment ID:</th>
                                <td>{{shipment.id}}</td>
                            </tr>
                            <tr>
                                <th>Customer:</th>
                                <td class="sel-customer-card">
                                    <div class="gtm-customer-name">
                                        {{shipment.shipper_user.first_name}} {{shipment.shipper_user.last_name}}
                                     </div>

                                </td>
                            </tr>
                            <tr>
                                <th>Pick up Date:</th>
                                <td>{{shipment.pickup_date}}</td>
                            </tr>

                            <!--  Used to hide auction end info when the listing is no longer active -->


                            <tr id="ContentBody_conPricing">
                                <th>Estimated Quote:</th>
                                <td id="ContentBody_pricing"><span class="pricingoption"><span
                                        class="pricingoption-type"><span class="brandedtext brandedtext-place-bid">             {{shipment.estimated_quotation}}</span></span></span>
                                </td>
                            </tr>


                            <tr id="ContentBody_conNumberOfBids">
                                <th>Size</th>
                                <td>{{shipment.length}} x {{shipment.width}} x {{shipment.height}}</td>
                            </tr>


                            <tr>
                                <th>Weight</th>
                                <td id="auction"> {{shipment.weight}}kg</td>
                            </tr>


                            </tbody>
                        </table>
                </div>

            </div>
            <div class="row"></div>
        <!--     <table style="font: small-caption" class="table table-sm" border="1" cellpadding="0" cellspacing="0">
                <thead>
                <tr style=" background-color: #003993; color: #fff;">
                    <td colspan="2"> Route Information</td>
                </tr>
                <tr>

                </tr>
                </thead>
                    </table>
-->
                </div>

        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <table style="font: small-caption" class="table table-sm" border="1" cellpadding="0" cellspacing="0">
                <thead>
                <tr style=" background-color: #003993; color: #fff;">
                    <td colspan="2"> Origin, Destination, & Route Information</td>
                </tr>
                </thead>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
   <div>
                 <img id="map-static" src="" alt="Map with Markers">
             </div>

                </div>
                <div class="col-5">
                       <table style="font: small-caption;" class="table table-sm" border="0" cellpadding="0" cellspacing="0">
<!--    <thead>
        <tr style="background-color: #02b2e0; color: #fff;">
            <td colspan="2">origin</td>
        </tr>
    </thead>-->
    <tbody>
        <tr>
            <!-- Apply the CSS class to the table cell -->
            <th class="table-cell">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 0c-5.52 0-10 4.48-10 10 0 6.305 9.4 14 10 14 0.6 0 10-7.695 10-14 0-5.52-4.48-10-10-10zm0 14c-1.63 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z" fill="red"/>
                </svg> origin
            </th>
            <td>{{shipment.pickup_address}}</td>
        </tr>
      <!--  <thead>
            <tr style="background-color: #02b2e0; color: #fff;">

            </tr>
        </thead>-->
        <tr>
            <!-- Apply the CSS class to the table cell -->
            <th><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M12 2c-5.523 0-10 4.477-10 10 0 5.522 4.477 10 10 10s10-4.478 10-10c0-5.523-4.477-10-10-10zm0 18c-4.418 0-8-3.582-8-8 0-4.42 3.582-8 8-8s8 3.58 8 8c0 4.418-3.582 8-8 8zm0-11c-1.104 0-2 .895-2 2s.896 2 2 2 2-.895 2-2-.896-2-2-2z" fill="#000"/>


                 </svg>   Distance</th>
            <td class="table-cell" ><span id="distance_display"></span></td>
        </tr>

        <tr>
            <!-- Apply the CSS class to the table cell -->
            <th class="table-cell"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 0c-5.52 0-10 4.48-10 10 0 6.305 9.4 14 10 14 0.6 0 10-7.695 10-14 0-5.52-4.48-10-10-10zm0 14c-1.63 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z" fill="green"/>
            </svg>    Destination</th>
            <td>{{shipment.drop_off_address}}</td>

        </tr>
    </tbody>
</table>
                       <form >
            <input type="hidden" id="drop_off_location" value="{{shipment.drop_off_location}}">
            <input type="hidden"  id="pickup_location" value="{{shipment.pickup_location}}" >
            </form>

                </div>
            </div>


        </div>
    </div>
    <br>
    <div class="row justify-content-end" style="margin-top :100px">
        <div class="col-12" align="right">


            <input type="hidden" name="request_id" id="request_id" value="{{request_id}}">
             <a class="btn btn-primary text-white" href="{% url 'shipment_truck_view'  request_id=request_id %}"><i class="fa fa-check"></i> Show Loading Preview </a>

                        {% if carrier_request.status == 'pending'%}

            <a class="btn btn-primary" href="{% url 'shipment_accept'  request_id=request_id %}"><i class="fa fa-check"></i> Accept </a>

            {% else %}
            <a class="btn btn-primary" href="{% url 'label_document' shipment_id=shipment.id %}"><i class="fa fa-print"></i> Print Label </a>
            {% endif %}

           <!-- <a href="{% url 'label_document' shipment_id=shipment.id %}"></a>-->
        </div>
    </div>

    <div  class="float" id="chatButton">
      <a class="text-white" onclick="openChat('{{shipment.shipper_user.user.username}}', '{{request.user.username}}')"><i class="fa fa-comment my-float"></i> Chat </a>
    </div>
    <div id="chatModal"  style="position: fixed; bottom: 50px; right: 0; display: None">

<div class="chat-container">
        <div class="chat-header">
            <h2><i class="fas fa-comment"></i></h2>
        </div>
        <div class="chat-logout">
            {% if request.user.is_authenticated %}
            <input type="hidden" id="logged_in_user" value="{{request.user.username}}">
            <div style="float: left;font-weight: bold; color: #036358;" id="to_send_username">{{ shipment.shipper_user.user.username |title }}</div>
            <div style="float: right;"><span onclick="closeChatModal()"><i class="far fa-window-close"></i> </span>
            </div>
            <div style="clear: both;"></div>
            {% endif %}
        </div>
        <div class="chat__item__container" id="id_chat_item_container">
            <!-- Messages will be displayed here with a scrollbar -->
        </div>
        <div class="chat-input-container">
            <input type="text" id="id_message_send_input" placeholder="Type your message..." />
            <button type="submit" id="id_message_send_button"><i class="fas fa-paper-plane"></i> Send</button>
        </div>
    </div>
    </div>


        <div id="plotModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closePlotModal()">X</span>
            <div id="plot"><img src="data:image/png;base64,{{ image_data }}" alt="Matplotlib Figure"></div>
        </div>
    </div>




</div>

{% endblock %}

</body>

</html>