{% extends "carrier/carrier_view.html" %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TruckPool</title>

</head>
<body>
{% block content %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/routing_view.js' %}"></script>
<div class="container-fluid">

    <div class="">
        <div class="col-12">
            <div id="map-static-route" style="height: 500px;"></div>
        </div>
    </div>
    <br>

    <div class="">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Route Table</h6>
                     <div align="right">
                        <button id="start_trip" {% if plan_started %} disabled {%endif%} class="btn btn-success text-white">Start Trip</button>
                    </div>
                </div>
                <div class="card-header py-3">
                      <div class="row">
                                <div class="col-sm-12 col-lg-4">
                                    <div class="form-group mb-3">
                                        <input
                                                type="text" name="current_address"
                                                class="form-control"
                                                onclick="openMap(this, 'id_current_location', 'id_current_city')"
                                                placeholder="Current Location"
                                                id="id_current_address"
                                                value='{{carrier.start_address}}'>
                                    </div>
                                    <div style="display: None"><input type="hidden" id="id_current_location" value="{{current_location.latitude}}, {{current_location.longitude}}"></div>
                                </div>
                                <div class="col-sm-12 col-lg-4">
                                    <div class="form-group mb-3 ">
                                       <input type="text" class="form-control" id="id_current_city" value="">
                                    </div>
                                </div>
                           <div class="col-sm-12 col-lg-4">
                                    <div class="form-group mb-3 ">
                                                  <button id="id_btn_update_location" {% if not plan_started %} disabled {%endif%} onclick="update_current_location()" class="btn btn-success text-white">Update Current Location</button>
                                    </div>
                                </div>

                            </div>
                </div>

    <div id="mapModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeMapModal()">X</span>
            <div id="map"></div>
        </div>
    </div>
                <div class="card-body">
                Plan Date : {{carrier_plan.date_of_plan}}
                    <input type="hidden" value="{{carrier_plan.id}}" id="plan_id">
                    <br>
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <!--  <div class="row">
                                  <div class="col-sm-12 col-md-6">
                                      <div class="dataTables_length" id="dataTable_length"><label>Show <select
                                              name="dataTable_length" aria-controls="dataTable"
                                              class="custom-select custom-select-sm form-control form-control-sm">
                                          <option value="10">10</option>
                                          <option value="25">25</option>
                                          <option value="50">50</option>
                                          <option value="100">100</option>
                                      </select> entries</label></div>
                                  </div>
                                  <div class="col-sm-12 col-md-6">
                                      <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search"
                                                                                                                class="form-control form-control-sm"
                                                                                                                placeholder=""
                                                                                                                aria-controls="dataTable"></label>
                                      </div>
                                  </div>
                              </div>-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                           cellspacing="0"
                                           role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                        <thead>
                                        <!--<tr role="row">
                                            <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-sort="ascending"
                                                aria-label="Name: activate to sort column descending" style="width: 271px;">Name
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                                aria-label="Position: activate to sort column ascending" style="width: 403px;">
                                                Position
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                                aria-label="Office: activate to sort column ascending" style="width: 199px;">
                                                Office
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                                aria-label="Age: activate to sort column ascending" style="width: 101px;">Age
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                                aria-label="Start date: activate to sort column ascending"
                                                style="width: 189px;">Start date
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                                aria-label="Salary: activate to sort column ascending" style="width: 171px;">
                                                Salary
                                            </th>
                                        </tr>-->
                                        </thead>
                                        <!--<tfoot>-->
                                        <tr>
                                            <th rowspan="1" colspan="1">Sequence</th>
                                       <!--     <th rowspan="1" colspan="1">Lat</th>
                                            <th rowspan="1" colspan="1">Long</th>-->
                                            <th rowspan="1" colspan="1">Point</th>
                                            <th rowspan="1" colspan="1">Pick up Shipment</th>
                                            <th rowspan="1" colspan="1">Drop Shipment</th>
                                            <th rowspan="1" colspan="1">Estimated Time</th>
                                            <th rowspan="1" colspan="1">Estimated Date</th>
                                            <th rowspan="1" colspan="1">Status</th>
                                            <th rowspan="1" colspan="1"></th>
                                        </tr>
                                        <!-- </tfoot>-->
                                        <tbody>


                                        {% for path in path_sequence %}
                                        <tr class="odd">
                                            <td class="sorting_1">{{ forloop.counter }}</td>
                                          <!--  <td>45.1245454</td>
                                            <td>75.55544</td>-->
                                            <td class="sorting_1" >{{path.address}}</td>
                                            <td>
                                            {% if path.pickup %}
                                             {{path.id}}
                                            {% elif path.start %}
                                                Carrier Plan Start Point
                                            {% elif path.end %}
                                                Carrier Plan End Point
                                            {% endif %}
                                            </td>
                                            <td >{% if not path.pickup and not path.start and not path.end%}

                                                {{path.id}}
                                            {% else %}
                                            {% endif %}
                                            </td>
                                            <!--<td>In Process</td>-->
                                            <td id="time_{{ forloop.counter }}">
                                                {{path.time}}
                                            </td>
                                            <td id="date_{{ forloop.counter }}">
                                                {{path.date}}
                                            </td>
                                            <td id="status_{{ forloop.counter }}">
                                                {{path.status}}
                                            </td>
                                            <td id="">
                                                <input type="hidden" id="lat_{{forloop.counter}}">
                                                <input type="hidden" id="lng_{{forloop.counter}}">
                                                <input type="checkbox" name="mark_as_done" id="{{ forloop.counter }}" {%if path.time == '' %}disabled{%endif%} onclick="onClickMarkAsDone(this);">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <!--<tr class="even">
                                               <td class="sorting_1">Angelica Ramos</td>
                                               <td>Chief Executive Officer (CEO)</td>
                                               <td>London</td>
                                               <td>47</td>
                                               <td>2009/10/09</td>
                                               <td>$1,200,000</td>
                                           </tr><tr class="odd">
                                               <td class="sorting_1">Ashton Cox</td>
                                               <td>Junior Technical Author</td>
                                               <td>San Francisco</td>
                                               <td>66</td>
                                               <td>2009/01/12</td>
                                               <td>$86,000</td>
                                           </tr><tr class="even">
                                               <td class="sorting_1">Bradley Greer</td>
                                               <td>Software Engineer</td>
                                               <td>London</td>
                                               <td>41</td>
                                               <td>2012/10/13</td>
                                               <td>$132,000</td>
                                           </tr><tr class="odd">
                                               <td class="sorting_1">Brenden Wagner</td>
                                               <td>Software Engineer</td>
                                               <td>San Francisco</td>
                                               <td>28</td>
                                               <td>2011/06/07</td>
                                               <td>$206,850</td>
                                           </tr><tr class="even">
                                               <td class="sorting_1">Brielle Williamson</td>
                                               <td>Integration Specialist</td>
                                               <td>New York</td>
                                               <td>61</td>
                                               <td>2012/12/02</td>
                                               <td>$372,000</td>
                                           </tr><tr class="odd">
                                               <td class="sorting_1">Bruno Nash</td>
                                               <td>Software Engineer</td>
                                               <td>London</td>
                                               <td>38</td>
                                               <td>2011/05/03</td>
                                               <td>$163,500</td>
                                           </tr><tr class="even">
                                               <td class="sorting_1">Caesar Vance</td>
                                               <td>Pre-Sales Support</td>
                                               <td>New York</td>
                                               <td>21</td>
                                               <td>2011/12/12</td>
                                               <td>$106,450</td>
                                           </tr><tr class="odd">
                                               <td class="sorting_1">Cara Stevens</td>
                                               <td>Sales Assistant</td>
                                               <td>New York</td>
                                               <td>46</td>
                                               <td>2011/12/06</td>
                                               <td>$145,600</td>
                                           </tr><tr class="even">
                                               <td class="sorting_1">Cedric Kelly</td>
                                               <td>Senior Javascript Developer</td>
                                               <td>Edinburgh</td>
                                               <td>22</td>
                                               <td>2012/03/29</td>
                                               <td>$433,060</td>
                                           </tr>--></tbody>
                                    </table>
                                </div>
                            </div>
                            <!--    <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1
                                            to 10 of 57 entries
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="dataTable_previous"><a
                                                        href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0"
                                                        class="page-link">Previous</a></li>
                                                <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable"
                                                                                                data-dt-idx="1" tabindex="0"
                                                                                                class="page-link">1</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
                                                                                          data-dt-idx="2" tabindex="0"
                                                                                          class="page-link">2</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
                                                                                          data-dt-idx="3" tabindex="0"
                                                                                          class="page-link">3</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
                                                                                          data-dt-idx="4" tabindex="0"
                                                                                          class="page-link">4</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
                                                                                          data-dt-idx="5" tabindex="0"
                                                                                          class="page-link">5</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
                                                                                          data-dt-idx="6" tabindex="0"
                                                                                          class="page-link">6</a></li>
                                                <li class="paginate_button page-item next" id="dataTable_next"><a href="#"
                                                                                                                  aria-controls="dataTable"
                                                                                                                  data-dt-idx="7"
                                                                                                                  tabindex="0"
                                                                                                                  class="page-link">Next</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>-->
                        </div>
                    </div>



                </div>



            </div>
        </div>
    </div>
</div>

<script>
    var routeJsonString = "{{ route_json|escapejs }}";  // Retrieve JSON data from Python view
    var routeJson = JSON.parse(routeJsonString);  // Parse JSON string to JavaScript object
   // console.log(routeJson);  // Print routeJson object to console for verification
    setOnMap(routeJson);
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWaQEjD36vYF2wHyocZl0DrkSkXBvTCvc&callback=initMap_route"></script>

{% endblock %}

</body>

</html>