{% extends "shipper/shipper_view.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TruckPool</title>
</head>
<body>
{% block content %}


         {% include 'users/chatbot_template.html' %}



<!--<div class="container">
                          &lt;!&ndash; <h1 class="h4 text-gray-900 mb-4" align="center">Shipment Details</h1>&ndash;&gt;

    <div class="row">
        <div class="col-3">

        </div>
    </div>

</div>-->

{% endblock %}

</body>

</html>